@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "People";
}

<h2>Hej People!</h2>
<div>
    <button value="Hejsan" onclick="location.href='@Url.Action("ListPeople", "People", new { name = "Haloo" })'">Go!</button>
    <button value="Create" onclick="location.href='@Url.Action("CreatePerson", "People")'">Create</button>
    @*<button value="Hejsan" onclick="location.href='@Html.ActionLink("Go!", "People", "ListPeople")'"/>*@
    @*, new { /* id=item.PrimaryKey */ }*@

</div>