@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Battleship Command";
}
<div class="text-center">
    <h1 class="display-4">Battleship Command: Scharnhorst</h1>
    <p>
        <i>Battleship Command: Scharnhorst</i> is a naval simulator built in Lazarus IDE.<br />
        It's written in Pascal and is heavily using an OpenGL library called GLScene.<br /><br />
        A few of the technological features include: 
        <ul class="text-left">
            <li>Environmental simulations including ocean water built with GLSL-shaders with Gerstner waves, day/night cirlce, clouds, starts and sun</li>
            <li>Ocean shader which interacts with ships and splashes from projectiles, reflections and shadows from objects</li>
            <li>Terrain generation stretching from Greenland to Murmansk south to the Canary Islands, including the Baltic Sea and the Mediterranean Sea</li>
            <li>Terrain is generated from thousands of height map tiles, dynamically loaded into the terrain generating mesh</li>
            <li>AI ships choosing targets based on threat level and shooting with accuracy within historically realistic values based on distance and conditions</li>
            <li>Waypoint system for setting up AI routes across the oceans</li>
            <li>Semi-realistic damage system based on projectile caliber and random hit spots</li>
            <li>Adjustable time compression</li>
            <li>Particle FX like smoke perlin noise sprites and fire with painted sprite animations</li>
            <li>Premade missions, quick mission setup, random missions and more...</li>
        </ul>
    </p>
    <div>
        <br />
        <p>
            You can read more and support the project at my <a href="https://www.patreon.com/battleshipcommand">Patreon page</a>           
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Kl1e0v4ww9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/74WxwLdMLG8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>