@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    
    <div class="d-inline-block"><img  src="~/Images/Photo/PBild1m.jpg" width="100" height="150" /></div>
   
        
<p class="d-inline-block text-left">
    Hi!! I am Daniel, a jazzguitarist, vocalist and a software developer.<br />
    This page is a test base containing work-in-progress IT school projects and more.<br />
    Enjoy your stay!
</p>
        
</div>
<div class="">
    

</div>
