@{
    ViewData["Title"] = "Play";
}

<div class="text-center">
    <h1 class="display-4">Playground!?!</h1>
    
    <div>
        <input id="input" value="ABC"/>
        <button id="button1" class="alert-danger">Hej!</button>    
        <p id="output1"></p>
    </div>
</div>